<p-table
  [value]="planosFunerarios"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Total de Planos: {totalRecords}"
>
  <ng-template pTemplate="caption">
    <button class="btn btn-primary m-2" (click)="abrirDialogCadastrarPlanoFunerario()">
      <i class="bi bi-plus-circle"></i> Cadastrar Novo Plano
    </button>
    <button class="btn btn-info m-2" (click)="abrirDialogCadastrarPlanoFunerarioParaClientesComBeneficiarios()">
      <i class="bi bi-plus-circle"></i> Cadastrar Novo Plano Para Clientes com Beneficiários
    </button>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Data Envio</th>
      <th>Valor</th>
      <th>Cliente</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-plano>
    <tr>
      <td>{{ plano.dataEnvio }}</td>
      <td>{{ plano.valor }}</td>
      <td>{{ plano.clientNome }}</td>
      <td>
        <button class="btn btn-warning text-white m-2" pTooltip="Editar Plano Funerário" tooltipPosition="bottom"><i class="bi bi-pen-fill"></i></button>
        <button class="btn btn-danger m-2" (click)="abrirDialogExcluirPlanoFunerario(plano)" pTooltip="Excluir Plano Funerário" 
        tooltipPosition="bottom" ><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [visible]="visibleDialogExcluirPlanoFunerario"
  [closable]="false"
>
Tem certeza que deseja excluir este plano funerario?
<ng-template pTemplate="footer">
  <button class="btn btn-primary m-2" (click)="excluirPlanoFunerario()"><i class="bi bi-check"></i> Sim</button>
  <button class="btn btn-danger m-2" (click)="fecharDialogExcluirPlanoFunerario()"><i class="bi bi-arrow-left"></i> Não</button>
</ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogCadastrarPlanoFunerario"
  [closable]="false"
  [style]="{ width: '50vw', height: '300px' }"
>
<form  [formGroup]="planoFunerarioParaCadastrarForm"> 
  <div class="form-group row">
    <label for="valor" class="col-sm-2 col-form-label">Valor</label>
    <div class="col-sm-10">
      <input type="text"  class="form-control" id="valor" placeholder="Valor" formControlName="valor">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="dataPagamento" class="col-sm-2 col-form-label">Data Pagamento</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dataPagamento" placeholder="Data Pagamento" formControlName="dataPagamento">
    </div>
  </div>
  <div class="form-group row ">
    <label for="nomeCliente" class="col-sm-2 col-form-label">Nome do Cliente</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nomeCliente" placeholder="Nome do Cliente" formControlName="nomeCliente">
    </div>
  </div>
</form>
<ng-template pTemplate="footer">
  <button class="btn btn-primary m-2" (click)="salvarPlanoFunerario()"><i class="bi bi-check"></i> Salvar</button>
  <button class="btn btn-danger m-2" (click)="fecharDialogCadastrarPlanoFunerario()"><i class="bi bi-arrow-left"></i> Cancelar</button>
</ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogCadastrarPlanoFunerarioParaClienteComBeneficiarios"
  [closable]="false"
  [style]="{ width: '50vw', height: '600px' }"	
>
<form >
  <div class="form-group row">
    <label for="valorBeneficiario" class="col-sm-2 col-form-label">Valor Beneficiário</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="valorBeneficiario" placeholder="Valor Beneficiário" >
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="dataPagamentoBeneficiario" class="col-sm-2 col-form-label">Data Pagamento Beneficiário</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dataPagamentoBeneficiario" placeholder="Data Pagamento Beneficiário" >
    </div>
  </div>
  <div class="form-group row">
    <label for="nomeClienteBeneficiario" class="col-sm-2 col-form-label">Nome do Cliente Beneficiário</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nomeClienteBeneficiario" placeholder="Nome do Cliente Beneficiário" >
    </div>
  </div>
</form>
<div class="mt-4">
  <div><button class="btn btn-dark">Adicionar Beneficiário</button></div>
  <b>Beneficiários: </b>
</div>
<ng-template pTemplate="footer">
  <button class="btn btn-primary m-2" ><i class="bi bi-check"></i> Salvar</button>
  <button class="btn btn-danger m-2" (click)="fecharDialogCadastrarPlanoFunerarioParaClientesComBeneficiarios()"><i class="bi bi-arrow-left"></i> Cancelar</button>
</ng-template>
</p-dialog>