<div class="componente" style="display: flex">
  <div style="height: 100%; background-color: #d3d3d3">
    <app-side-nav></app-side-nav>
  </div>
  <div class="dashboard">
    <div>
      <div class="wrapper">
        <div class="single-card">
          <div class="calendar">
            <div class="calendar-body">
              <span class="month-name">Caixões Disponiveis </span>
              <span class="day-name"></span>
              <span class="date-number"> 25</span>
              <span class="year">Quantidade Vendida <br> 75/100</span>
            </div>
          </div>
        </div>
        <div class="single-card">
          <div class="calendar">
            <div class="calendar-body">
              <span class="month-name">Planos Funerais <br> Vendidos</span>
              <span class="day-name"></span>
              <span class="date-number"> {{ planosVendidos }}</span>
              <span class="year">Mês de {{monthName}}</span>
            </div>
          </div>
        </div>
        <div class="single-card">
          <div class="calendar">
            <div class="calendar-body">
              <span class="month-name">Planos Funerais <br> Atrasados</span>
              <span class="day-name"></span>
              <span class="date-number"> 10</span>
              <span class="year">Mês de {{monthName}}</span>
            </div>
          </div>
        </div>
        <div class="single-card">
          <div class="calendar">
            <div class="calendar-body">
              <span class="month-name">{{ monthName }}</span>
              <span class="day-name">{{ dayName }}</span>
              <span class="date-number">{{ dayNumber }}</span>
              <span class="year">{{ year }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grafico">
        <p-chart
          [style]="{ width: '100%' }"
          type="line"
          responsive="true"
          height="400px"
          [data]="data"
          [options]="options"
        />
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div>

