<app-breadcrumb [aplicacao]="'Gerenciador Funerária'" [subAplicacao]="'Tela de Boas-Vindas'"/>

<p-dialog header="Boas Vindas" [(visible)]="visibleDialogBoasVindas" [style]="{width: '50vw'}" closable="false">
  <p>
    Bem-vindo ao software da Funerária São Vicente Prever, utilize a barra lateral clicando no botão “Menu” acima para navegar pela aplicação
  </p>
  <p-footer>
    <button class="btn btn-primary" (click)="fecharDialogBoasVindas()"><i class="bi bi-check-lg"></i> Okay</button>
  </p-footer>
</p-dialog>
<div class="texto-saudacao-inicial">Boas Vindas, Matheus!</div>
<div class="texto-dashboard-inicial">Dashboard Inicial</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <p-fieldset legend="Planos Funerários em Atraso"  [toggleable]="true">
        <p-table [value]="planosFunerariosEmAtraso" [paginator]="true" [rows]="3">
          <ng-template pTemplate="caption">
            <button class="btn btn-primary" [routerLink]="['/clientes']"><i class="bi bi-ticket-detailed"></i> Ver Detalhes</button>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>Tempo Atrasado</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Valor a Pagar</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-plano>
              <tr>
                  <td>{{ plano.tempoAtrasado }}</td>
                  <td>{{ plano.nomeCliente }}</td>
                  <td>{{ plano.cpfCliente }}</td>
                  <td>{{ plano.valorAPagar }}</td>
              </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <p-fieldset legend="Vendas de Caixão" [toggleable]="true">
        <p-table [value]="vendasCaixao" [paginator]="true" [rows]="6">
          <ng-template pTemplate="caption">
            <button class="btn btn-primary" [routerLink]="['/venda-de-caixao']"><i class="bi bi-ticket-detailed"></i> Ver Detalhes</button>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>Nome Vendedor</th>
                  <th>Modelo do Caixão</th>
                  <th>Data da Venda</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-venda>
              <tr>
                  <td>{{ venda.nomeVendedor }}</td>
                  <td>{{ venda.modeloCaixao }}</td>
                 <td>{{venda.dataVenda}}</td>
              </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">.col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0</div>
  </div>
</div>