<p-table [value]="caixoes" [tableStyle]="{ 'min-width': '50rem' }"
[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
currentPageReportTemplate="Total de Caixões: {totalRecords}">
<ng-template pTemplate="caption">
  <button class="btn btn-primary" (click)="exibirDialogCadastrarCaixao()"><i class="bi bi-plus-circle-dotted"></i> Cadastrar Caixão</button>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th>Material</th>
    <th>Cor</th>
    <th>Comprimento</th>
    <th>Modelo</th>
    <th>Preço</th>
    <th>Ações</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-caixao>
  <tr>
    <td>{{ caixao.material }}</td>
    <td>{{ caixao.cor }}</td>
    <td>{{ caixao.comprimento }}</td>
    <td>{{ caixao.modelo }}</td>
    <td>{{ caixao.preco }}</td>
    <td>
      <button class="btn btn-warning text-white m-2" pTooltip="Editar Caixão" (click)="exibirDialogEditarCaixao(caixao)"><i class="bi bi-pen-fill"></i></button>
      <button class="btn btn-danger text-white m-2" pTooltip="Excluir Caixão" (click)="exibirDialogExcluirCaixao(caixao)"><i class="bi bi-trash-fill"></i></button>
    </td>
  </tr>
</ng-template>
</p-table>


<p-dialog
  [visible]="visibleDialogExcluirCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '300px'}"
  [draggable]="false"
>
Tem certeza que deseja excluir o Caixão?
<ng-template pTemplate="footer">
  <button class="btn btn-success text-white m-2" (click)="excluirCaixao()"><i class="bi bi-check"></i> Confirmar</button>
  <button class="btn btn-danger m-2" (click)="fecharDialogExcluirCaixao()"><i class="bi bi-arrow-left"></i> Voltar</button>
</ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogCadastrarCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '400px'}"
  [draggable]="false"	
>
  <form [formGroup]="formularioCadastrarCaixao" class="formulario-caixao">
    <input type="text" class="form-control" formControlName="material" placeholder="Material">
    <input type="text" class="form-control" formControlName="cor" placeholder="Cor">
    <input type="text" class="form-control" formControlName="comprimento" placeholder="Comprimento">
    <input type="text" class="form-control" formControlName="modelo" placeholder="Modelo">
    <input type="number" class="form-control" formControlName="preco" placeholder="Preço">
  </form>
  <p-footer>
    <button class="btn btn-success text-white m-2" (click)="cadastrarCaixao()"><i class="bi bi-check"></i> Cadastrar</button>
    <button class="btn btn-danger m-2" (click)="fecharDialogCadastrarCaixao()"><i class="bi bi-arrow-left"></i> Voltar</button>
  </p-footer>
</p-dialog>

<p-dialog
  [visible]="visibleDialogEditarCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '400px'}"
  [draggable]="false"
>
  <form [formGroup]="formularioEditarCaixao" class="formulario-caixao">
    <input type="text" class="form-control" formControlName="material" placeholder="Material">
    <input type="text" class="form-control" formControlName="cor" placeholder="Cor">
    <input type="text" class="form-control" formControlName="comprimento" placeholder="Comprimento">
    <input type="text" class="form-control" formControlName="modelo" placeholder="Modelo">
    <input type="number" class="form-control" formControlName="preco" placeholder="Preço">
  </form>
  <p-footer>
    <button class="btn btn-success text-white m-2" (click)="editarCaixao()"><i class="bi bi-check"></i> Editar</button>
    <button class="btn btn-danger m-2" (click)="fecharDialogEditarCaixao()"><i class="bi bi-arrow-left"></i> Voltar</button>
  </p-footer>
</p-dialog>