<app-breadcrumb [aplicacao]="'Gerenciador Funerária'" [subAplicacao]="'Caixão'"/>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="carregandoCaixoes">
  <p-progressSpinner

    styleClass="w-8rem h-8rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  />
</div>
<p-table #tabelaCaixao [value]="caixoes" [tableStyle]="{ 'min-width': '50rem' }"
[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
[globalFilterFields]="['material', 'modelo']"
currentPageReportTemplate="Total de Caixões: {totalRecords}">
<ng-template pTemplate="caption">
  <button class="btn btn-primary" (click)="exibirDialogCadastrarCaixao()"><i class="bi bi-plus-circle-dotted"></i> Cadastrar Caixão</button>
  <div class="flex mt-3">
    <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
            <i class="bi bi-search"></i>
        </p-inputIcon>
        <input
            pInputText
            type="text"
            style="width: 25%;"
            (input)="tabelaCaixao.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Pesquisar por Material ou Modelo" />
    </p-iconField>
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="material" style="width:20%">Material<p-sortIcon field="material" /></th>
    <th pSortableColumn="cor" style="width:20%">Cor<p-sortIcon field="cor" /></th>
    <th>Comprimento</th>
    <th pSortableColumn="modelo" style="width: 20%;">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
    <th pSortableColumn="preco" style="width: 20%;">Preço<p-sortIcon field="preco"></p-sortIcon></th>
    <th>Ações</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-caixao>
  <tr>
    <td>{{ caixao.material }}</td>
    <td>{{ caixao.cor }}</td>
    <td>{{ caixao.comprimento }}</td>
    <td>{{ caixao.modelo }}</td>
    <td>{{ caixao.preco }}</td>
    <td>
      <button class="btn btn-warning text-white m-2" pTooltip="Editar Caixão" (click)="exibirDialogEditarCaixao(caixao)"><i class="bi bi-pen-fill"></i></button>
      <button class="btn btn-danger text-white m-2" pTooltip="Excluir Caixão" (click)="exibirDialogExcluirCaixao(caixao)"><i class="bi bi-trash-fill"></i></button>
    </td>
  </tr>
</ng-template>
</p-table>


<p-dialog
  [visible]="visibleDialogExcluirCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '300px'}"
  [draggable]="false"
>
Tem certeza que deseja excluir o Caixão?
<ng-template pTemplate="footer">
  <button class="btn btn-success text-white m-2" (click)="excluirCaixao()" [disabled]="carregandoExclusaoCaixoes"><i class="bi bi-check" *ngIf="!carregandoExclusaoCaixoes"></i>
    <span *ngIf="carregandoExclusaoCaixoes" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

    Confirmar</button>
  <button class="btn btn-danger m-2" (click)="fecharDialogExcluirCaixao()" [disabled]="carregandoExclusaoCaixoes"><i class="bi bi-arrow-left"></i> Voltar</button>
</ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogCadastrarCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '400px'}"
  [draggable]="false"
>
  <form [formGroup]="formularioCadastrarCaixao" class="formulario-caixao">
    <input type="text" class="form-control" formControlName="material" placeholder="Material">
    <input type="text" class="form-control" formControlName="cor" placeholder="Cor">
    <input type="text" class="form-control" formControlName="comprimento" placeholder="Comprimento">
    <input type="text" class="form-control" formControlName="modelo" placeholder="Modelo">
    <input type="number" class="form-control" formControlName="preco" placeholder="Preço">
  </form>
  <p-footer>
    <button class="btn btn-success text-white m-2" (click)="cadastrarCaixao()" [disabled]="!formularioCadastrarCaixao.valid || carregandoCadastroCaixoes"><i *ngIf="!carregandoCadastroCaixoes" class="bi bi-check"></i>
      <span *ngIf="carregandoCadastroCaixoes" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cadastrar</button>
    <button class="btn btn-danger m-2" (click)="fecharDialogCadastrarCaixao()" [disabled]="carregandoCadastroCaixoes"><i class="bi bi-arrow-left"></i> Voltar</button>
  </p-footer>
</p-dialog>

<p-dialog
  [visible]="visibleDialogEditarCaixao"
  [closable]="false"
  [style]="{width: '50vw', height: '400px'}"
  [draggable]="false"
>
  <form [formGroup]="formularioEditarCaixao" class="formulario-caixao">
    <input type="text" class="form-control" formControlName="material" placeholder="Material">
    <input type="text" class="form-control" formControlName="cor" placeholder="Cor">
    <input type="text" class="form-control" formControlName="comprimento" placeholder="Comprimento">
    <input type="text" class="form-control" formControlName="modelo" placeholder="Modelo">
    <input type="number" class="form-control" formControlName="preco" placeholder="Preço">
  </form>
  <p-footer>
    <button class="btn btn-success text-white m-2" (click)="editarCaixao()" [disabled]="!formularioEditarCaixao.valid || carregandoEdicaoCaixoes"><i *ngIf="!carregandoEdicaoCaixoes" class="bi bi-check"></i>
      <span *ngIf="carregandoEdicaoCaixoes" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

      Editar</button>
    <button class="btn btn-danger m-2" (click)="fecharDialogEditarCaixao()" [disabled]="carregandoEdicaoCaixoes"><i class="bi bi-arrow-left"></i> Voltar</button>
  </p-footer>
</p-dialog>
