html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-screen {
  background-image: url('../../assets/tela_login.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.login-formulario {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  right: 200px; 
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.form-control{
  background-color: #2B2B2B!important;
  color: white!important;
}

.imagem{
  width: 100%;
  margin-top: 20vh;
}

.form-label{
  font-family: "Inter", sans-serif;
}

.texto-1{
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 25px;
}

.texto-2{
  font-family: "Baloo Da 2", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 20px;
}

.texto-voce{
  color: blue;
}

.texto-2 {
  font-family: "Baloo Da 2", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 20px;
}

.texto-voce {
  color: #0D1337;
  display: inline;
}