<div class="container-botoes">
  <div>
    <button class="btn btn-dark botao-barra" (click)="abrirSideNav()"><i class="bi bi-list"></i></button>
    <div class="texto-botao">Menu</div>
  </div>
  <div>
    <button class="btn btn-dark botao-barra" (click)="irParaHome()"><i class="bi bi-house "></i></button>
    <div class="texto-botao">Home</div>
  </div>
  <div>
    <button class="btn btn-dark botao-barra" (click)="deslogar()"><i class="bi bi-box-arrow-right"></i></button>
    <div class="texto-botao">Sair</div>
  </div>
</div>
<div class="container-nome-app">
  <div>Gerenciador Funerária</div>
</div>

<app-side-nav [estaAberta]="estaAbertaSideNav"></app-side-nav>

<div class="data-hora-atual-card">
  <app-data-hora-atual></app-data-hora-atual>
</div>