<div class="login-screen">
  <div class="imagem">
    <div class="texto-1">
      Hoje, Amanhã e Sempre
    </div>
    <div class="texto-2">
      Guiando <p class="texto-voce">você</p> com respeito e carinho
    </div>
    <img src="../../assets/image-login.png">
  </div>
  <div class="login-formulario">
    <form [formGroup]="loginForm">
      <div class="logo">
        <img src="../../assets/sao_vicente_logo.png" alt="logo da são vicente">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="email" class="form-control" formControlName="login" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" >
      </div>
    </form>
    <p-toast></p-toast>
    <button type="button" (click)="login()" [disabled]="!loginForm.valid" class="btn btn-success">Fazer Login</button>
    <button type="button" class="btn btn-info mt-2" (click)="abrirDialogRegistrarUsuario()">Criar Usuário</button>
  </div>
</div>


<p-dialog header="Novo Usuário" [(visible)]="visibleDialogRegistrarUsuario" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false">
  <app-register/>
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-danger" (click)="visibleDialogRegistrarUsuario = false"><i class="bi bi-arrow-left"></i> Voltar</button>
  </ng-template>
</p-dialog>