<div class="componente" style="display: flex">
  <div style="height: 100%; background-color: #d3d3d3">
    <app-side-nav></app-side-nav>
  </div>
  <div class="dashboard">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="carregandoBeneficiarios">
      <p-progressSpinner

        styleClass="w-8rem h-8rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
      />
    </div>

    <div class="wapper">
      <div class="single-card">
      <div class="button">
        <button class="btn btn-primary"  style="width: 100%; height: 25%" (click)="abrirDialogCadastrarBeneficiario()"><i class="bi bi-plus-circle"></i> Adicionar Beneficiário</button>

      </div>
    </div>
    </div>
    <div class="wapper">
      <div class="single-card-table">
      <p-table #tabelaBeneficiarios [value]="beneficiarios" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" *ngIf="!carregandoBeneficiarios"
    [rows]="4" [globalFilterFields]="['nomeBeneficiario', 'nomeClient']" [showCurrentPageReport]="true" currentPageReportTemplate="Total de Beneficiários: {totalRecords}">
    <ng-template pTemplate="caption">
      <div class="flex mt-3">
        <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
                <i class="bi bi-search"></i>
            </p-inputIcon>
            <input
                pInputText
                type="text"
                style="width: 25%;"
                (input)="tabelaBeneficiarios.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Pesquisar por Beneficiário ou Titular" />
        </p-iconField>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="nomeBeneficiario" style="width:20%">Nome do Beneficiario<p-sortIcon field="nomeBeneficiario" /></th>
              <th pSortableColumn="nomeClient" style="width: 20%;">Nome do Titular<p-sortIcon field="nomeClient"></p-sortIcon></th>
              <th>Data de Nascimento</th>
              <th>Adicional</th>
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-beneficiario>
          <tr>
              <td>{{ beneficiario.nomeBeneficiario }}</td>
              <td>{{ beneficiario.nomeClient }}</td>
              <td>{{ beneficiario.dataNascimento }}</td>
              <td>{{ beneficiario.adicional }}</td>
              <td>
                <button class="btn btn-warning text-white m-2" pTooltip="Editar Beneficiário" (click)="abrirDialogEditarBeneficiario(beneficiario)"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-danger text-white m-2" pTooltip="Excluir Beneficiário" (click)="abrirDialogExcluirBeneficiario(beneficiario)"><i class="bi bi-trash"></i></button>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
    </div>



    <p-dialog
      header="Adicionar Beneficiário de Cliente"
      [(visible)]="visibleDialogCadastrarBeneficiario"
      [style]="{ 'width': '80rem', height: '30rem' }"
      [modal]="true"
      [resizable]="false"
      [draggable]="false"
      [closable]="false"
    >
      <div>
        <div class="form-group">
          <label for="nomeBeneficiario">Nome do Beneficiário</label>
          <input type="text" class="form-control" id="nomeBeneficiario" [(ngModel)]="formularioCadastrarBeneficiario.nome">
        </div>
        <div class="form-group" style="display: flex; flex-direction: column;">
          <label for="nomeTitular">Nome do Titular</label>
          <p-dropdown placeholder="Selecione um Titular" [options]="clientes" optionLabel="nome" [style]="{'width': '100%'}" [(ngModel)]="formularioCadastrarBeneficiario.client"/>
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="text" class="form-control" id="dataNascimento" [(ngModel)]="formularioCadastrarBeneficiario.dataNascimento">
        </div>
        <div class="form-group">
          <label for="adicional">Adicional</label>
          <input type="text" class="form-control" id="adicional" [(ngModel)]="formularioCadastrarBeneficiario.adicional">
        </div>
      </div>
    <p-footer>
      <button class="btn btn-success m-2" (click)="cadastrarBeneficiario()" [disabled]="carregandoCadastroDeBeneficiario"><i class="bi bi-check" *ngIf="!carregandoCadastroDeBeneficiario"></i>
        <span *ngIf="carregandoCadastroDeBeneficiario" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Confirmar</button>
      <button class="btn btn-danger m-2" (click)="fecharDialogCadastrarBeneficiario()" [disabled]="carregandoCadastroDeBeneficiario"><i class="bi bi-arrow-left"></i> Voltar</button>
    </p-footer>
    </p-dialog>

    <p-dialog
      header="Editar Beneficiário de Cliente"
      [(visible)]="visibleDialogEditarBeneficiario"
      [style]="{ 'width': '80rem', height: '30rem' }"
      [modal]="true"
      [resizable]="false"
      [draggable]="false"
      [closable]="false"
    >
      <div>
        <div class="form-group">
          <label for="nomeBeneficiario">Nome do Beneficiário</label>
          <input type="text" class="form-control" id="nomeBeneficiario" [(ngModel)]="formularioEditarBeneficiario.nome">
        </div>
        <div class="form-group" style="display: flex; flex-direction: column;">
          <label for="nomeTitular">Nome do Titular</label>
          <p-dropdown placeholder="Selecione um Titular" [options]="clientes" optionLabel="nome" [style]="{'width': '100%'}" [(ngModel)]="formularioEditarBeneficiario.client"/>
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="text" class="form-control" id="dataNascimento" [(ngModel)]="formularioEditarBeneficiario.dataNascimento">
        </div>
        <div class="form-group">
          <label for="adicional">Adicional</label>
          <input type="text" class="form-control" id="adicional" [(ngModel)]="formularioEditarBeneficiario.adicional">
        </div>
      </div>
      <p-footer>
        <button class="btn btn-success m-2" (click)="editarBeneficiario()" [disabled]="carregandoEdicaoDeBeneficiario"><i class="bi bi-check" *ngIf="!carregandoEdicaoDeBeneficiario"></i>
          <span *ngIf="carregandoEdicaoDeBeneficiario" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Confirmar</button>
        <button class="btn btn-danger m-2" (click)="fecharDialogEditarBeneficiario()" [disabled]="carregandoEdicaoDeBeneficiario"><i class="bi bi-arrow-left"></i> Voltar</button>
      </p-footer>
    </p-dialog>

    <p-dialog
      [visible]="visibleDialogExcluirBeneficiario"
      [style]="{ 'width': '30rem', height: '10rem' }"
      [modal]="true"
      [resizable]="false"
      [draggable]="false"
      [closable]="false"
    >
    Tem certeza que deseja excluir este beneficiário?
    <p-footer>
      <button class="btn btn-success m-2" (click)="excluirBeneficiario()" [disabled]="carregandoExclusaoDeBeneficiario"><i class="bi bi-check" *ngIf="!carregandoExclusaoDeBeneficiario"></i>
        <span *ngIf="carregandoExclusaoDeBeneficiario" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Confirmar</button>
      <button class="btn btn-danger m-2" (click)="fecharDialogExcluirBeneficiario()" [disabled]="carregandoExclusaoDeBeneficiario"><i class="bi bi-arrow-left"></i> Voltar</button>
    </p-footer>
    </p-dialog>

  </div>

