<app-breadcrumb [aplicacao]="'Gerenciador Funerária'" [subAplicacao]="'Vendedores'"></app-breadcrumb>

<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
  *ngIf="carregandoVendedores"
>
  <p-progressSpinner
    styleClass="w-8rem h-8rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  />
</div>

<p-table
  #tabelaVendedores
  [value]="vendedores"
  [tableStyle]="{ 'min-width': '50rem' }"
  *ngIf="!carregandoVendedores"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Total de Vendedores: {totalRecords}"
  [globalFilterFields]="['nome', 'cargo']"
>
<ng-template pTemplate="caption">
  <button class="btn btn-primary" (click)="abrirDialogAdicionarVendedor()">
    <i class="bi bi-plus"></i> Cadastrar Vendedor
  </button>
  <div class="flex mt-3">
    <p-iconField iconPosition="left" class="ml-auto">
      <p-inputIcon>
        <i class="bi bi-search"></i>
      </p-inputIcon>
      <input
        pInputText
        style="width: 30%;"
        type="text"
        (input)="
          tabelaVendedores.filterGlobal(
            $any($event.target).value,
            'contains'
          )
        "
        placeholder="Pesquisar por Nome ou Cargo"
      />
    </p-iconField>
  </div>
</ng-template>
<ng-template pTemplate="header" style="width: 20%;">
  <tr>
    <th pSortableColumn="nome" style="width: 20%">
      Nome <p-sortIcon field="nome" />
    </th>
    <th pSortableColumn="cargo">
      Cargo<p-sortIcon field="cargo" />
    </th>
    <th style="width: 20%">Ações</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-vendedor>
  <tr>
    <td>{{ vendedor.nome }}</td>
    <td>{{ vendedor.cargo }}</td>
    <td>
      <button class="btn btn-warning m-2 text-white" pTooltip="Editar Vendedor">
        <i class="bi bi-pencil"></i> 
      </button>
      <button class="btn btn-danger m-2" pTooltip="Excluir Vendedor">
        <i class="bi bi-trash"></i> 
      </button>
    </td>
  </tr>
</ng-template>
</p-table> 

<p-dialog [visible]="visibleDialogAdicionarVendedor" [closable]="false" [style]="{width: '50vw', height: '50vh'}" [draggable]="false">
  <p-header>
    Adicionar Vendedor
  </p-header>
  <form [formGroup]="formularioAdicionarVendedor">
    <div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          pInputText
          formControlName="nome"
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome do vendedor"
        />
      </div>
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input
          pInputText
          formControlName="cargo"
          type="text"
          class="form-control"
          id="cargo"
          placeholder="Digite o cargo do vendedor"
        />
      </div>
    </div>
  </form>
  <p-footer>
    <button class="btn btn-success m-2" (click)="cadastrarVendedor()" [disabled]="carregandoCadastroVendedores"><i class="bi bi-check" *ngIf="!carregandoCadastroVendedores"></i> 
      <span *ngIf="carregandoCadastroVendedores" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Confirmar</button>
    <button class="btn btn-danger m-2" (click)="visibleDialogAdicionarVendedor = false" [disabled]="carregandoCadastroVendedores"><i class="bi bi-arrow-left"></i> Voltar</button>
  </p-footer>
</p-dialog>