<p-table
  #tabelaPlanosFunerariosEmAtraso
  [value]="planosFunerariosEmAtraso"
  [paginator]="true"
  [rows]="4"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Total de Planos Atrasados: {totalRecords}"
  [globalFilterFields]="['nomeCliente', 'cpfCliente']"
>
<ng-template pTemplate="caption">
  <div class="flex mt-3">
    <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
            <i class="bi bi-search"></i>
        </p-inputIcon>
        <input 
            pInputText 
            type="text" 
            (input)="tabelaPlanosFunerariosEmAtraso.filterGlobal($any($event.target).value, 'contains')" 
            placeholder="Pesquisar por Cliente" />
    </p-iconField>
    <button class="btn btn-warning text-white m-2" (click)="gerarRelatorioPlanosFunerariosEmAtraso()" [disabled]="carregandoRelatorioPlanosAtrasados"><i class="bi bi-file-bar-graph" *ngIf="!carregandoRelatorioPlanosAtrasados"></i> 
      <span *ngIf="carregandoRelatorioPlanosAtrasados" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Gerar Relatório</button>
</div>
</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nomeCliente" style="width:20%">Nome do Cliente<p-sortIcon field="nomeCliente" /></th>
      <th>Tempo Atrasado</th>
      <th>CPF Do Cliente</th>
      <th>Valor a Pagar</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{cliente.nomeCliente}}</td>
      <td>{{cliente.tempoAtrasado}}</td>
      <td>{{cliente.cpfCliente}}</td>
      <td>{{cliente.valorAPagar}}</td>
      <td>
        <button class="btn btn-primary" pTooltip="Enviar email notificando atraso" (click)="enviarEmailParaClienteAtrasado(cliente)" [disabled]="cliente.enviandoEmail">
          <i class="bi bi-envelope-arrow-up" *ngIf="!cliente.enviandoEmail"></i>
          <span *ngIf="cliente.enviandoEmail" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>