<p-table
  [value]="planosFunerariosEmAtraso"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome Do Cliente</th>
      <th>Tempo Atrasado</th>
      <th>CPF Do Cliente</th>
      <th>Valor a Pagar</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{cliente.nomeCliente}}</td>
      <td>{{cliente.tempoAtrasado}}</td>
      <td>{{cliente.cpfCliente}}</td>
      <td>{{cliente.valorAPagar}}</td>
      <td>
        <button class="btn btn-primary" pTooltip="Enviar email notificando atraso" (click)="enviarEmailParaClienteAtrasado(cliente)" [disabled]="cliente.enviandoEmail">
          <i class="bi bi-envelope-arrow-up" *ngIf="!cliente.enviandoEmail"></i>
          <span *ngIf="cliente.enviandoEmail" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>