<mat-drawer-container class="side-nav-container" [ngClass]="{'opened': estaAberta, 'closed': !estaAberta}">
  <img src="../../assets/sao_vicente_logo_sidenav.png" alt="logo da são vicente" class="logo-sao-vicente">
  <button class="botao-side-nav" [routerLink]="['/pagina-inicial']">Tela Inicial</button>
  <button class="botao-side-nav" [routerLink]="['/clientes']">Clientes</button>
  <button class="botao-side-nav" [routerLink]="['/planos-funerarios']">Planos Funerarios</button>
  <button class="botao-side-nav" [routerLink]="['/caixao']">Caixão</button>
  <button class="botao-side-nav" [routerLink]="['/venda-de-caixao']">Venda de Caixão</button>
  <button class="botao-side-nav" [routerLink]="['/beneficiarios']">Beneficiários</button>
  <button class="botao-side-nav" [routerLink]="['/salas-de-velorio']">Salas de Velório</button>
  <!--<button class="botao-side-nav" [routerLink]="['/falecimentos']">Falecimentos</button>!-->
  <button class="botao-side-nav" [routerLink]="['/vendedores']">Vendedores</button>
  <!--<button class="botao-side-nav" [routerLink]="['/comunicar-falecimento']">Comunicar Falecimento</button>!-->
  <button class="botao-side-nav" [routerLink]="['/planos-de-saude']">Planos de Saúde</button>
  <button class="botao-side-nav" [routerLink]="['/morte-de-paciente']">Morte de Paciente</button>
  

  <div class="info-funcionario">
    <div class="imagem-funcionario">
      <img src="../../assets/avatar_funcionario.png" alt="imagem do funcionário">
    </div>
    <div class="nome-funcionario">MATHEUS DE OLIVEIRA RODRIGUES SALEH
      <div class="cargo-funcionario">Atendente</div>
    </div>
  </div>
</mat-drawer-container>
