<app-breadcrumb
  [aplicacao]="'Gerenciador Funerária'"
  [subAplicacao]="'Clientes'"
/>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="carregandoClientes">
  <p-progressSpinner 
    
    styleClass="w-8rem h-8rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" 
  />
</div>
<p-table
  #tabelaClientes
  [value]="clientes"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Total de Clientes: {totalRecords}"
  *ngIf="!carregandoClientes"
  [globalFilterFields]="['nome', 'cliente.nome']"
>
  <ng-template pTemplate="caption">
    <button class="btn btn-warning m-2 text-white" (click)="abrirDialogClientesAtraso()">
      <i class="bi bi-people-fill"></i> Clientes em Atraso
    </button>
    <button class="btn btn-danger text-white m-2" (click)="abrirDialogClientesComBeneficiariosFalecidos()">
      <i class="bi bi-people-fill"></i> Clientes com Beneficiários Falecidos
    </button>
    <button class="btn btn-primary m-2" (click)="abrirDialogCadastrarCliente()">
      <i class="bi bi-plus-circle"></i> Cadastrar Novo Cliente
    </button>
    <div class="flex mt-3">
      <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
              <i class="bi bi-search"></i>
          </p-inputIcon>
          <input 
              pInputText 
              type="text" 
              (input)="tabelaClientes.filterGlobal($any($event.target).value, 'contains')" 
              placeholder="Pesquisar por Cliente" />
      </p-iconField>
  </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nome" style="width:20%">Nome <p-sortIcon field="nome" /></th>
      <th>CPF</th>
      <th>RG</th>
      <th>Data de Nascimento</th>
      <th>Natural de</th>
      <th>Religião</th>
      <th>Estado Cívil</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.rg }}</td>
      <td>{{ cliente.dataNascimento }}</td>
      <td>{{ cliente.cidadeNascimento }}</td>
      <td>{{ cliente.religiao }}</td>
      <td>{{ cliente.estadoCivil }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>
        <button
          class="btn btn-primary"
          pTooltip="Consultar Beneficiários do Cliente"
          tooltipPosition="bottom"
          (click)="abrirDialogBeneficiariosDoCliente(cliente)"
        >
          <i class="bi bi-people-fill"></i>
        </button>
        <button
          class="btn btn-warning m-2 text-white"
          pTooltip="Editar Cliente"
          tooltipPosition="bottom"
          (click)="abrirDialogEditarCliente(cliente)"
        >
          <i class="bi bi-pencil"></i>
        </button>
        <button
          type="button"
          class="btn btn-info m-2"
          pTooltip="Consultar Informações Adicionais do Cliente"
          tooltipPosition="bottom"
          (click)="abrirDialogConsultarInformacoesAdicionais(cliente)"
        >
          <i class="bi bi-list text-white"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          pTooltip="Excluir Cliente"
          tooltipPosition="bottom"
          (click)="abrirDialogExcluirCliente(cliente)"
        >
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [visible]="visibleDialogConsultarInformacoesAdicionais"
  [closable]="false"
  [style]="{ width: '50vw', height: '300px' }"
  [draggable]="false"
>
  <ng-template pTemplate="header"
    >Informações adicionais de
    {{ clienteSelecionadoParaConsultarInformacoesAdicionais.nome }}</ng-template
  >
  <div>
    <b>Profissão: </b>
    {{ clienteSelecionadoParaConsultarInformacoesAdicionais.profissao }}<br />
  </div>
  <ng-template pTemplate="footer">
    <button
      class="btn btn-danger"
      (click)="fecharDialogConsultarInformacoesAdicionais()"
    >
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
  </ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogCadastrarCliente"
  [closable]="false"
  [style]="{ width: '50vw', height: '600px' }"
  [draggable]="false"
>

  <form [formGroup]="formCadastrarCliente" class="formulario-cadastrar-cliente">
    <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
    <p-inputMask mask="9999-99-99" formControlName="dataNascimento" placeholder="Data de Nascimento" [style]="{'width': '100%'}"></p-inputMask>
    <input type="text" class="form-control" formControlName="cidadeNascimento" placeholder="Cidade de Nascimento" [maxlength]="30">
    <p-inputMask mask="99-999-999-9" formControlName="rg" placeholder="RG" [style]="{'width': '100%'}"></p-inputMask>
    <p-inputMask mask="999-999-999-99" formControlName="cpf" placeholder="CPF" [style]="{'width': '100%'}"></p-inputMask>
    <input type="text" class="form-control" formControlName="profissao" placeholder="Profissão">
    <input type="text" class="form-control" formControlName="religiao" placeholder="Religião">
    <input type="text" class="form-control" formControlName="estado_civil" placeholder="Estado Civil">
    <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone" [maxlength]="11">
  </form>
  <ng-template pTemplate="footer">
    <button
      class="btn btn-danger m-2"
      (click)="fecharDialogCadastrarCliente()"
      [disabled]="carregandoCadastroCliente"
    >
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
    <button class="btn btn-success m-2" (click)="cadastrarCliente()" [disabled]="!formCadastrarCliente.valid || carregandoCadastroCliente">
      <i class="bi bi-check" *ngIf="!carregandoCadastroCliente"></i> 
      <span *ngIf="carregandoCadastroCliente" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Confirmar
    </button>
  </ng-template>
</p-dialog>

<p-dialog 
  [visible]="visibleDialogClientesAtraso"
  [closable]="false"
  [style]="{ width: '60vw', height: '650px' }"
  [draggable]="false"
>
  <ng-template pTemplate="header">Clientes em Atraso</ng-template>
  <app-clientes-atraso/>
  <ng-template pTemplate="footer">
    <button
      class="btn btn-danger mt-2"
      (click)="fecharDialogClientesAtraso()"
    >
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
  </ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogEditarCliente"
  [closable]="false"
  [style]="{ width: '50vw', height: '600px' }"
  [draggable]="false"	
>
  <p-header>
    Editar Cliente
  </p-header>
    <form [formGroup]="formEditarCliente" class="formulario-cadastrar-cliente">
    <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
    <input type="text" class="form-control" formControlName="dataNascimento" placeholder="Data de Nascimento">
    <input type="text" class="form-control" formControlName="cidadeNascimento" placeholder="Cidade de Nascimento">
    <input type="text" class="form-control" formControlName="rg" placeholder="RG">
    <input type="text" class="form-control" formControlName="cpf" placeholder="CPF">
    <input type="text" class="form-control" formControlName="profissao" placeholder="Profissão">
    <input type="text" class="form-control" formControlName="religiao" placeholder="Religião">
    <input type="text" class="form-control" formControlName="estado_civil" placeholder="Estado Civil">
    <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone">
  </form>
  <p-footer>
    <button
      class="btn btn-danger m-2"
      (click)="fecharDialogEditarCliente()"
      [disabled]="carregandoEditarCliente"
    >
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
    <button class="btn btn-success m-2" (click)="editarCliente()" [disabled]="!formEditarCliente.valid || carregandoEditarCliente">
      <span *ngIf="carregandoEditarCliente" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <i class="bi bi-check" *ngIf="!carregandoEditarCliente"></i> Confirmar
    </button>
  </p-footer>
</p-dialog>

<p-dialog 
  [visible]="visibleDialogClientesComBeneficiariosFalecidos"
  [closable]="false"
  [style]="{ width: '60vw', height: '600px' }"
  [draggable]="false"
>
<app-clientes-com-beneficiarios-falecidos/>
<ng-template pTemplate="footer">
  <button
    class="btn btn-danger mt-2"
    (click)="fecharDialogClientesComBeneficiariosFalecidos()"
  >
    <i class="bi bi-arrow-left"></i> Voltar
  </button>
</ng-template>
</p-dialog>

<p-dialog
  [visible]="visibleDialogExcluirCliente"
  [closable]="false"
  [style]="{ width: '50vw', height: '300px' }"	
>
  Tem Certeza que deseja excluir o cliente?
  <ng-template pTemplate="footer">
    <button
      class="btn btn-danger m-2"
      (click)="fecharDialogExcluirCliente()"
      [disabled]="carregandoExcluirCliente"
    >
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
    <button class="btn btn-success m-2" (click)="excluirCliente()" [disabled]="carregandoExcluirCliente">
      <i class="bi bi-check" *ngIf="!carregandoExcluirCliente"></i>
      <span *ngIf="carregandoExcluirCliente" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Confirmar
    </button>
  </ng-template>
</p-dialog>

<p-dialog [visible]="visibleDialogBeneficiariosDoCliente" [closable]="false" [style]="{ width: '50vw', height: '700px'}" [draggable]="false">
<p-header>
  Beneficiários de {{ clienteParaConsultarBeneficiarios.nome }}
</p-header>
<p-table [value]="beneficiariosDoCliente" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Adicional</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-beneficiario>
    <tr>
      <td>{{ beneficiario.nomeBeneficiario }}</td>
      <td>{{ beneficiario.dataNascimento }}</td>
      <td>{{ beneficiario.adicional }}</td>
    </tr>
  </ng-template>  
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="5">Este cliente não tem beneficiários.</td>
    </tr>
    </ng-template>  
</p-table>
<p-footer>
  <button class="btn btn-danger m-2" (click)="fecharDialogBeneficiariosDoCliente()">
    <i class="bi bi-arrow-left"></i> Voltar
  </button>
</p-footer>
</p-dialog>
